body {
	background:#1e1e1f;
    color: #faf5ef;
}

h2{
    font-family:"Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
}

a:link {
    color: #353536;
  }
  
  a:visited {
    color: #fffae0;
  }
  
  a:hover {
    color: rgb(198, 141, 252);
  }
  
  a:active {
    color: rgb(147, 165, 199);
  }
