body {
    margin: 0;
    padding-left: 80px;
    padding-right: 80px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #323232;
    color: #f9f9ff;
    font-family: "Assistant", serif;
  }
  
  #banner{
      background-position: 30% 100%;
      background-size: cover;
      padding: 10vh 10px;
      text-align: center;
      font-family: "Montserrat", sans-serif;
  }

  h1{
    font-size:5vw;
    flex: 1;
    line-height: 1.2;
    margin: 0;
  }

  .chartTitle{
    margin: auto;
    width: 80%;
    font-size:2vw;
    font-family: "Montserrat", sans-serif;
  }

  svg {
    display: block;
    margin: auto;
    width: 90%;
  }

  .xAxis path, 
  .xAxis line{
    stroke: #f9f9ff;
  }

  .yAxis path, 
  .yAxis line{
    stroke: #f9f9ff;
  }

  .axis text{
    fill: #f9f9ff;
  }

  .tick path, 
  .tick line{
    stroke: #f9f9ff;
  }

  .domain path, 
  .domain line{
    stroke: #f9f9ff;
  }

  .tick text{
    fill: #f9f9ff;
  }

  table, th, td {
    border: 1px solid #f9f9ff;
    border-radius: 10px;
    text-align: center;
  }

  tr:hover {background-color: #006aff;}